@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

* {
  scroll-behavior: smooth;
}

#chat * {
  overflow-anchor: none;
}

#chat-anchor {
  overflow-anchor: auto;
  height: 1px;
}

.hidden {
  display: none;
}

@layer components {
  .spinner-visible > .loading-spinner {
    display: block;
  }
}

.dragging .disable-pointer-events-dragging {
  pointer-events: none;
}
