@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* This file is for your main application CSS */

/* @layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
} */

* {
  scroll-behavior: smooth;
}

#chat * {
  overflow-anchor: none;
}

#chat-anchor {
  overflow-anchor: auto;
  height: 1px;
}

.hidden {
  display: none;
}

@layer components {
  .spinner-visible > .loading-spinner {
    display: block;
  }
}

.dragging .disable-pointer-events-dragging {
  pointer-events: none;
}
