<div class="h-full">
  <.container>
    Haloo
  </.container>

  <.chip type={:private_key} name="Jonas" />
  <.chip type={:public_key} name="Bob" />
  <.chip type={:encrypted_message} name="Alice" />
  <.chip type={:message} name="Eve" />
  <.chip type={:message} name="Isabelle" signed="true" />

</div>